.body .container .active-project .project__option, .body .container .project-container .project__option, .body .container .active-project .project__box.project--time, .body .container .project-container .project__box.project--time, .body .add-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #2b2f38;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header.--page-header {
  color: #00a9a4;
}
.header.--page-header .container {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  .header.--page-header .container {
    background-color: #1e2329;
  }
}
.header.--page-header .container p {
  padding: 15px 0;
  background-color: #1e2329;
  height: 100%;
}
.header.--page-header .container .header__forwerd {
  color: #00a9a4;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .header.--page-header .container .header__forwerd {
    left: 20px;
  }
}
.header.--page-header .container .header__forwerd:hover {
  color: #088886;
}

.container {
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .container {
    padding: 15px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 550px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 1, 0.336);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #1e2329;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.loader__img {
  width: 100px;
}
.loader.hide-loader {
  opacity: 0;
  visibility: hidden;
}

.--slider::-webkit-scrollbar, .body .container .active-project::-webkit-scrollbar, .body .container .project-container::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #31353e;
}
.--slider::-webkit-scrollbar-thumb, .body .container .active-project::-webkit-scrollbar-thumb, .body .container .project-container::-webkit-scrollbar-thumb {
  background-color: #1c7274;
}

.context-menu {
  color: #1e2329;
  background-color: #b2b2b2;
  border-radius: 2px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: -100%;
  transform-origin: left top;
  transform: scale(0);
}
.context-menu__box {
  height: 100%;
  flex-basis: 33.3333333333%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.context-menu__box:hover {
  background-color: #949597;
}
.context-menu__box i {
  margin-right: 6px;
}
.context-menu__box span {
  font-weight: 600;
}

.show-context-menu {
  left: 0;
  transform: scale(1);
}

.create {
  padding: 10px;
  background-color: #44494f;
  border-radius: 5px;
  transition: 0.3s;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.create label {
  margin-bottom: 8px;
  color: #00a9a4;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.create input[type=text] {
  padding: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #c4dcde;
  background-color: #2b2f38;
  border: 1px solid #1e2329;
  outline: transparent;
}
.create input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 50px;
  margin: 0 auto 10px;
  color: #c4dcde;
  background-color: #00a9a4;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.create input[type=submit]:hover {
  background-color: #1f7677;
}

.show-form {
  display: flex;
}

/* Start Activities */
body {
  background-color: #44494f;
}
body .activity-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* End Activities */
/* Start Body */
.body {
  margin: 0 auto;
  flex: 1;
}
@media (max-width: 767px) {
  .body {
    width: 100%;
  }
}
.body .container {
  height: 100%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .body .container {
    padding: 0;
  }
}
.body .container .active-project, .body .container .project-container {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.body .container .active-project .project, .body .container .project-container .project {
  margin-bottom: 2px;
  background-color: #373b44;
  order: 5;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.body .container .active-project .project:hover, .body .container .project-container .project:hover {
  background-color: #2b2f37;
}
.body .container .active-project .project:hover .project__name, .body .container .project-container .project:hover .project__name {
  text-shadow: 0 0 30px #c4dcde;
}
.body .container .active-project .project__box.project--name, .body .container .project-container .project__box.project--name {
  color: #c4dcde;
  display: flex;
  align-items: center;
}
.body .container .active-project .project__option, .body .container .project-container .project__option {
  height: 100%;
  padding: 15px 25px;
  margin-right: 10px;
  background-color: #2b2f38;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: column;
}
.body .container .active-project .project__option:hover, .body .container .project-container .project__option:hover {
  background-color: #252931;
}
.body .container .active-project .project__option:hover li, .body .container .project-container .project__option:hover li {
  background-color: #8f9194;
}
.body .container .active-project .project__option li, .body .container .project-container .project__option li {
  width: 4px;
  height: 4px;
  margin-bottom: 3px;
  background-color: #c4dcde;
  border-radius: 50%;
  transition: 0.3s;
}
.body .container .active-project .project__name, .body .container .project-container .project__name {
  font-weight: 500;
  transition: 0.3s;
}
.body .container .active-project .project__box.project--time, .body .container .project-container .project__box.project--time {
  color: #00a9a4;
  padding-right: 15px;
}
.body .container .active-project .project__box.project--time :first-child, .body .container .project-container .project__box.project--time :first-child {
  margin-right: 5px;
}
.body .container .mass {
  display: none;
}
.body .container .active-project:not(:has(.project-container > .project)) .mass {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  display: block;
  position: relative;
}
.body .container .archive-project {
  margin-top: 40px;
  position: relative;
}
.body .container .archive-project .arc-mass {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #c4dcde;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  transform: translateY(-10px);
}
.body .container .archive-project .arc-mass i {
  margin-left: 10px;
}
.body .container .archive-project:not(:has(.project-container > .project)) .arc-mass {
  display: none;
}
.body .add-project {
  width: 23px;
  height: 23px;
  color: #0f6667;
  background-color: #c4dcde;
  font-size: 25px;
  box-sizing: content-box;
  box-shadow: 2px 6px 8px 2px #2b2f37;
  border-radius: 50%;
  border: 17px solid #00a9a4;
  outline-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.body .add-project:hover {
  border-color: #197070;
}

/* End Body *//*# sourceMappingURL=activities.css.map */