.sidebar__logo, .footer .container .row.--logo, .footer .container .row__box.--logo, .body .container, .body .container .grid__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #2b2f38;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header.--page-header {
  color: #00a9a4;
}
.header.--page-header .container {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  .header.--page-header .container {
    background-color: #1e2329;
  }
}
.header.--page-header .container p {
  padding: 15px 0;
  background-color: #1e2329;
  height: 100%;
}
.header.--page-header .container .header__forwerd {
  color: #00a9a4;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .header.--page-header .container .header__forwerd {
    left: 20px;
  }
}
.header.--page-header .container .header__forwerd:hover {
  color: #088886;
}

.container {
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .container {
    padding: 15px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 550px;
    margin: 0 auto;
    padding: 10px 10px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 1, 0.336);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #1e2329;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.loader__img {
  width: 100px;
}
.loader.show-loader {
  opacity: 1;
  visibility: visible;
}

.--slider::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #31353e;
}
.--slider::-webkit-scrollbar-thumb {
  background-color: #1c7274;
}

.context-menu {
  color: #1e2329;
  background-color: #b2b2b2;
  border-radius: 2px;
  transition: 0.3s;
  position: absolute;
  top: 100%;
  transform-origin: left top;
  transform: scale(0);
}
.context-menu__box {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.context-menu__box:hover {
  background-color: #949597;
}
.context-menu__box i {
  margin-right: 6px;
}
.context-menu__box span {
  font-weight: 600;
}

.show-context-menu {
  transform: scale(1);
}

.create {
  padding: 10px;
  background-color: #44494f;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.create label {
  margin-bottom: 8px;
  color: #00a9a4;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.create input[type=text] {
  padding: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #c4dcde;
  background-color: #2b2f38;
  border: 1px solid #1e2329;
  outline: transparent;
}
.create input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 50px;
  margin: 0 auto 10px;
  color: #c4dcde;
  background-color: #00a9a4;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.create input[type=submit]:hover {
  background-color: #1f7677;
}

.show-create {
  visibility: visible;
  opacity: 1;
}

/* Start Home Page */
.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* End Home Page */
/* Start Headaer */
.header {
  padding: 10px;
  color: #00a9a4;
  background-color: #1e2329;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .burger-icon {
  width: 25px;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.header .container .burger-icon > span {
  width: 100%;
  height: 2px;
  background-color: #00a9a4;
}
.header .container .burger-icon > span:not(:last-child) {
  margin-bottom: 4px;
}
.header .container .add-manual-session {
  width: 17px;
  height: 17px;
  background-color: #00a9a4;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
}
.header .container .add-manual-session:hover {
  background-color: #0b8b89;
}
.header .container .add-manual-session:before, .header .container .add-manual-session:after {
  content: "";
  width: 2px;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1e2329;
}
.header .container .add-manual-session:before {
  transform: translate(-50%, -50%);
}
.header .container .add-manual-session:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* End Headaer */
/* Start Body */
.body {
  height: 76.9230769231%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .container .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  justify-items: center;
  gap: 10px;
}
.body .container .grid__box {
  width: 160px;
  height: 160px;
  background-color: #252931;
  border: 2px solid #1e2329;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  flex-direction: column;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .body .container .grid__box {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .body .container .grid__box {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  .body .container .grid__box {
    width: 110px;
    height: 110px;
  }
}
.body .container .grid__box:hover {
  background-color: #22262d;
}
.body .container .grid__box:hover .grid__time {
  text-shadow: 0 0 15px var(--i);
}
.body .container .grid__img {
  width: 60px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .body .container .grid__img {
    width: 40px;
  }
}
.body .container .grid__time {
  margin-top: 10px;
  color: var(--i);
  font-weight: 600;
  position: relative;
  transition: 0.3s;
  text-shadow: 0 0 15px var(--i), 0 0 50px var(--i);
}

/* End Body */
/* Start Footer */
.footer {
  flex-grow: 1;
  background-color: #1e2329;
}
.footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer .container .row {
  width: 100%;
  color: #2b2f38;
}
.footer .container .row.--logo {
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
}
.footer .container .row__box i {
  font-size: 20px;
}
.footer .container .row__box.--logo {
  color: #00a9a4;
}
.footer .container .row__box.--logo > span {
  font-weight: 500;
  margin-left: 10px;
}
.footer .container .row__img {
  width: 60px;
}
.footer .container .row.--prog {
  height: 43px;
  background-color: #2b2f38;
  border: 1px solid #00a9a4;
  border-radius: 5px;
  position: relative;
}
@media (min-width: 767px) {
  .footer .container .row.--prog {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .footer .container .row.--prog {
    margin-top: 5px;
  }
}
.footer .container .row.--prog:before, .footer .container .row.--prog:after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #c4dcde;
  position: absolute;
  top: 0;
}
.footer .container .row.--prog:before {
  left: 33.3333333333%;
}
.footer .container .row.--prog:after {
  right: 33.3333333333%;
}
.footer__achv {
  font-weight: 600;
  text-shadow: 0 0 10px #0f6667;
}

/* End Footer */
/* Start Sidebar */
.sidebar {
  height: 100%;
  background-color: #1e2329;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 5;
}
@media (min-width: 767px) {
  .sidebar {
    min-width: 300px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: 250px;
  }
}
.sidebar__logo {
  width: 100%;
  padding: 30px;
  background-color: #1e2329;
}
.sidebar__logo img {
  width: 70px;
}
.sidebar__container {
  padding: 20px 15px;
  background-color: #2b2f38;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sidebar__box {
  width: 100%;
  padding: 18px 15px;
  margin-bottom: 5px;
  color: white;
  background-color: #252931;
  border-radius: 3px;
  border: 2px solid #1e2329;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar__box:hover {
  background-color: #22262d;
}
.sidebar__box i {
  margin-right: 10px;
  color: #00a9a4;
}

/* End Sidebar *//*# sourceMappingURL=home-page.css.map */