@use "../../helpers/index" as *;
@use "../../components/index" as *;

/* Start Body */
.body {
  margin: 0 auto;
  flex: 1;
  
  @include breakpoint-down(map-get($media-width, "mobile")) {
    width: 100%;
  }
  .container {
    height: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  
    @include breakpoint-down(map-get($media-width, "mobile")) {
      padding: 0;
    }
    .active-project {
      max-height: 300px;
      overflow-y: auto;

      @extend .--slider;
      .project {
        background-color: map-get($main-color, "project");
        cursor: pointer;
        transition: $transition;
        display: flex;
        justify-content: space-between;
  
        &:not(:last-of-type) {
          margin-bottom: 2px;
        }
        &:hover {
          background-color: mix(map-get($main-color, "project"), map-get($main-color, "header"));
        }
        &__box.project--name {
          color: map-get($main-color, "alt-text-color");
          display: flex;
          align-items: center;
        }
        &__option {
          height: 100%;
          padding: 15px 25px;
          margin-right: 10px;
          background-color: map-get($main-color, "body");
          cursor: pointer;
          transition: $transition;
          @extend %container;
          flex-direction: column;
  
          &:hover {
            background-color: mix(map-get($main-color, "header"), map-get($main-color, "body"));
          }
          &:hover li {
            background-color: mix(map-get($main-color, "header"), white);
          }
          li {
            width: 4px;
            height: 4px;
            margin-bottom: 3px;
            background-color: map-get($main-color, "alt-text-color");
            border-radius: 50%;
            transition: $transition;
          }
        }
        &__name {
          font-weight: 500;
        }
        &__box.project--time {
          color: map-get($main-color, "text-color");
          padding-right: 15px;
          @extend %container;
  
          :first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }

}
/* End Body */