@use "../../helpers/index" as *;

/* Start Footer */
.footer {
  flex-grow: 1;
  background-color: map-get($main-color, "header");

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .row {
      width: 100%;
      color: map-get($main-color, "body");

      &.--logo {
        height: fit-content;
        @extend %container;
        justify-content: space-between;
        
      }
      &__box {


        i{
          font-size: 20px;
        }
        &.--logo {
          color: map-get($main-color, "text-color");
          @extend %container;
          
          > span {
            font-weight: 500;
            margin-left: 10px;
          }
        }
      }
      &__img {
        width: 60px;
      }
      &.--prog {
        height: 43px;

        background-color: map-get($main-color, "body");
        border: 1px solid map-get($main-color, "text-color");
        border-radius: 5px;
        position: relative;

        @include breakpoint-up(map-get($media-width, "mobile")) {
          margin-top: 25px;
        }
        @include breakpoint-down(map-get($media-width, "mobile")) {
          margin-top: 5px;
        }
        &:before, &:after {
          content: "";
          height: 100%;
          width: 1px;
          background-color: map-get($main-color, "alt-text-color");
          position: absolute;
          top: 0;
        }
        &:before {
          left: calc(100% / 3);
        }
        &:after {
          right: calc(100% / 3);
        }
      }
    }
  }
  &__achv {   
    font-weight: 600;
    text-shadow: 0 0 10px mix(map-get($main-color, "text-color"), map-get($main-color, "header"));
  }
}
/* End Footer */